.LibTable{
    width : 90%;
    border: 2px solid black;
    margin: 10px 10px;
    height: 350px;
    overflow-y: scroll;
    text-align :center;
    font-size :1.2 rem;
    
}

@media (min-width:1000px) and (min-height :700px){
    .LibTable{
        width : 50%;
        height: 500px;
    
    }
    
}

  section {
    width:90%;
    position: relative;
    border: 1px solid #000;
    padding-top: 37px;
    background: white;
    margin: 10px auto;
    margin-top: 40px;
    overflow-x: auto;
    line-height: 35px;
    box-sizing: border-box;
    vertical-align:middle;
    border : none;
    border-radius: 5px;
    box-shadow: 0 0 5px #333

  }

  section.positioned {
    position: absolute;
    top:100px;
    left:100px;
    width:800px;
    box-shadow: 0 0 15px #333;
  }

  .container {
    overflow-y: auto;
    height: 350px;
  }

  table {
    border-spacing: 0;
    width:100%;
  }
  
  .row:hover {
    background-color : #eee;
  }
  .row .button{
      display :none;
  }
  .row:hover .button{
      display:inline-block;
  }
  td + td {
    border-left:1px solid black;
  }
  td, th {
    border-bottom:1px solid black;
    color: black;
    padding: 10px 25px;
  }
  th {
    height: 0;
    line-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: transparent;
    border-bottom: 1px solid black;
    white-space: nowrap;
  }
  th div{
    position: absolute;
    background: transparent;
    color: black;
    padding: 9px 25px;
    top: 0;
    margin-left: -25px;
    line-height: normal;
    border-left: 1px solid black;
    vertical-align: middle;
    align-content: center;
  }
  th:first-child div{
    border: none;
  }

 